@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
html,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Oswald', sans-serif;
  background-color:#F8F8F8;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color:#222222;
}
.card{
  position: relative;
  padding: 10px;
  border: 7px solid #222222;
}
.card .border{
  position: absolute;
  top: 100%;
  width: 7px;
  height: 7px;
  z-index: 10;
  background-color: #222222;
  transition-delay: 1s;
  transition: height 0.5s ease-in-out 0.6s,width 0.5s ease-in-out 0.5s;
}

.link-button{
  height: 34px;
  border: 5px solid #222222;
  height: 60px;
  width: 60px;
  background-color: #F8F8F8;
}
.loading{
  animation-name: loading;
  animation-duration: 1.5s;
  transform: rotate(0deg);
  animation-iteration-count: infinite;
  transition:transform 0.2s;
}
@keyframes loading {
  0% {transform: rotate(0deg);}
  15%{transform: rotate(-25deg);}
  100% {transform: rotate(360deg);}
}
.input-url{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  width: 50vw;
  outline:none;
  padding: 10px 15px;
  height: 100%;
  border-right: none;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.result{
  position: absolute;
  top: -50px;
  height: 50px;
  left: 0;
  border: 7px solid #222222;
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.result h2 .green{
  color: green;
}
.result h2 .red{
  color: red;
}
.copy{
  background-image: url("../public/content_copy_FILL0_wght400_GRAD0_opsz48.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  border: 7px solid #222222;
  border-right: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
.copy:active{
  background-color: #848484;
}